@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans&family=Volkhov&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;
:root {
  font-family: "Nunito Sans", sans-serif;
  font-family: "Volkhov", serif !important;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}
